ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #2F4F4F;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: block;
    color: AliceBlue;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Change the link color on hover */
li a:hover {
    background-color: white;
    color: black;
    border-radius: none;
}
.active {
    background-color: white;
    color: black;
}
